@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-size:12px;
	word-wrap:break-word;
	word-break:break-all;}
a{
	text-decoration:none;}	
a:hover{
	text-decoration:underline;}	
li{
	list-style:none;}	
body{
	background:#ffffff;}	


