@charset "utf-8";
/* CSS Document */
#container{
	margin:0 auto;
	width:64%;
	height:700px;}
/*---头部内容--*/		
header{
	width:98.3%;
	height:80px;
	background:#ececec;}
header img{
	float:left;
	}	
header input{
	float:left;
	margin-left:20px;
	margin-top:20px;
	padding:3px;
	}
nav{
	background:#4a4a4a;
	width:98.3%;
	height:30px;
	line-height:30px;}
nav ul li{
	float:left;}
nav ul li a{
	color:#fff;
	font-size:16px;
	margin-left:20px;
	padding:3px;}
nav ul li a:hover{	
	background:#fff;
	color:#000;}
.navhide{
	position:absolute;
	top:110px;
	background:#fff;
	width:450px;
	height:150px;
	z-index:1;
	border:#666 solid 1px;
	display:none;
	margin-left:20px;}	
.l1{
	width:430px;
	height:75px;
	border-bottom:#666 dashed 1px;
	margin:0 10px;
	clear:both;}
.l1+li{
	width:430px;
	height:75px;
	border-bottom:#666 dashed 0px;
	margin:0 10px;
	clear:both;}	
.div1{
	width:50px;
	font-weight:bold;
	font-size:16px;
	float:left;
	height:50%;}
.div2{
	width:370px;
	font-size:14px;
	float:left;
	height:50%;
	margin-left:5px;}
.div2 a{
	font-size:14px;
	margin:0px;
	color:#000;}							
/*---中间内容（左)--*/		
#content{
	width:100%;
	height:500px;
	margin-top:20px;}	
#cotent_left{
	float:left;
	width:20%;
	height:500px;}
#cotent_left a:hover{
	color:#099;}	
#cotent_left header{
	width:91%;
	height:5%;
	background:#6e6e6e;
	color:#fff;
	line-height:25px;
	padding-left:20px;
	font-size:15px;
	opacity:0.6;}				
#cotent_left header+ul{
	width:99%;
	height:543px;
	border:1px solid #000;
	overflow:hidden;}
#cotent_left header+ul li{
	color:#000;
	width:100%;
	height:23%;
	margin-left:20px;}	
#cotent_left header+ul li h3{
	border-bottom:dashed 1px #ccc;
	width:100%;
	margin:5px 0 0 0;
	font-size:15px;}
#strong{
	color:#f00;}	
#cotent_left header+ul li p a{
	color:#000;
	font-size:13px;
	display:inline-block;
	text-align:left;
	width:4em;
	float:left;}	
#cotent_left header+ul li p a+a{
	margin-left:50px;
	width:6em;}	
			
/*---中间内容(右)--*/	
#cotent_right{
	float:left;
	width:78%;
	height:94%;
	margin-left:10px;}
#cotent_right_top{
	width:100%;
	height:321px;} 	
#cotent_right_top section{
	float:left;}
#simg{
	width:550px;
	height:321px;
	position:relative;
	overflow:hidden;}
#simg img{
	display:none;
	}
#simg #show{
	display:block;}		
#simg ul{
	position:absolute;
	top:258px;
	width:550px;}
#simg ul li{
	background:#333;
	opacity:0.7;
	float:left;
	padding:15px 19.9px;
	margin-right:1px;
	cursor:pointer;}
#simg ul li p{
	width:100%;
	height:100%;
	color:#fff;
	text-align:center}	
#simg ul li +p{
	text-align:left;}				
#simg+section{
	margin-left:10px;
	overflow:hidden;}	
#simg+section+section{
	margin:5px 0 0 10px;
	border:1px #dfdfdf solid;
	width:28.8%;
	height:130px;}	
#simg+section+section h4{
	width:100%;
	height:20px;
	border-bottom:solid 1px #dfdfdf;
	line-height:20px;}
#simg+section+section p{
	margin-left:10px;
	margin-top:4px;}
#simg+section+section p a{
	color:#000;}
#simg+section+section p a:hover{
	color:#06C;}		
#cotent_right_foot{
	width:99%;
	height:30%;
	border:1px solid #000;
	clear:both;}
@keyframes dong
{14% {transform:rotate(50deg)}
28% {transform:rotate(100deg)}
42% {transform:rotate(150deg)}
56% {transform:rotate(200deg)}
70% {transform:rotate(250deg)}
84% {transform:rotate(300deg)}
100% {transform:rotate(360deg)}
	 }	
@keyframes fadeOut
{
50%{opacity:0.5}
100%{opacity:0}
	}
@keyframes fadeIn
{
50%{opacity:0.5}
100%{opacity:1}
	}	
.prolist_content{
	width:2500px;
	height:400px;}	
.prolist{
	width:803.5px;}	
.h3{
	width:95.5%;
	padding:10px;
	font-size:16px;
	font-weight:bold;
	border:1px #000000 solid;}		
.prolist_content ul li{
	float:left;
	height:200px;
	width:183px;
	text-align:center;
	border:1px #000000 solid;
	margin-right:10px;
	overflow:visible;}
.prolist { 
	position:relative; 
	height: 250px;
	margin-bottom:10px; 
	overflow:hidden; 
	background:#FFFFFF;
	font-size:14px;
}
.prolist .prolist_content{
 	position:absolute; 
	width:3300px;
	top:26px; 
	left:0px;
	padding:20px 0 0 0px;
}
.prolist ul{  
	margin-bottom:10px; 
    float:left;
	height: 220px;
	margin:0px;
	padding:0px;}
.prolist ul li { 
	float:left;
	display:inline;
	text-align:center;
	margin-right:16px;  
}
.prolist ul li span { 
	display:block;
	overflow:hidden; 
}
.prolist ul li img { 
	display:block; 
	width:183px; 
	height:164px; 
	background:#EEE; border:0;
}
.module_left_right{ 
	position:absolute; 
	top:15px; 
	left:560px; 
	cursor:pointer;
}
.module_left_right a{
	padding:5px 10px;
	background:#ccc;
	margin-right:5px;
	font-size:14px;
}		